NEXT_PUBLIC_APP_NAME="GenZ IITian Connect"
NEXT_PUBLIC_APP_URL=https://seashell-app-8riaf.ondigitalocean.app/
NEXT_PUBLIC_SOCKET_URL=https://connect-meet-5byj.onrender.com
DATABASE_URL=postgresql://user:password@localhost:5432/genziitian_connect
REDIS_URL=redis://localhost:6379
NEXT_PUBLIC_FIREBASE_API_KEY=AIzaSyB9XQhOdzBKx4l0nJqGx3LbjVlxR8jMqW0
NEXT_PUBLIC_FIREBASE_AUTH_DOMAIN=genziitian-connect.firebaseapp.com
NEXT_PUBLIC_FIREBASE_PROJECT_ID=genziitian-connect
NEXT_PUBLIC_FIREBASE_STORAGE_BUCK…Hx3x0HgN2ZDAoGAHNf8\ntsG+j5UiVEFPZiAVNw8RyCFyEG5fudL43TfIsjg148HZ1zWdPXEFg2BX5KUIAgF/\nxXzEUJ40ipUEDC8WMwd0Zzlf3zBrqPucG0l8SSgPXsrF1PAZd+DE9WVB2Lpze+sg\nwvSBxO9LfQHyWqOZqfgxmL5FvpatIYXZ16ZcqUMCgYEApS6RcIFXkVMQEhTe9L6k\nxK3ShWzkunXevNgovQ65NJepPQ63JIz85wrNeXUhOXOJbyWy7xPCPad0QX57cech\nbwbPNHQdiDy2qCqJCGAhuSuglzGNO0MI5MHBG5Gs2zAqE3ZAMaU3p1NELXKP0Yok\njFAconygvAlRaZ62VknjbN0=\n-----END PRIVATE KEY-----\n"
GRIEVANCE_OFFICER_EMAIL=grievance@genziitian.com
PRIVACY_CONTACT_EMAIL=privacy@genziitian.com
